
<div class="row debug">



      <h4>I want to volunteer for: .....</h4>
      <!-- Style horizontally later! -->

  <div class="col span-12-d debug">


      <h4>I want to volunteer for: .....</h4>

      <div class="buttons">
        <ul>
          <li ng-repeat="type in cat.categories_arr"><button ng-click="findEventsByCategory" class="cat-buttons">{{type.category_type}}</button></li>
        </ul>
      </div>



  </div>
</div>

<!--
      <button ng-click="healthCategories()">{{health}}</button>
      <button ng-click="kidsCategories()">{{kids}}</button>
      <button ng-click="humanRightsCategories()">{{human_rights}}</button>
      <button ng-click="sportsCategories()">{{sports}}</button> -->


<!-- Carousel Code: -->
 <!--  <section class="cat-container">
              <div id="carousel">
                <figure>1</figure>
                <figure>2</figure>
                <figure>3</figure>
                <figure>4</figure>
                <figure>5</figure>
                <figure>6</figure>
                <figure>7</figure>
                <figure>8</figure>
                <figure>9</figure>
              </div>
            </section> -->

