<div class="row debug">

  <h4>Volunteer Categories</h4>
  <!-- Style horizontally later! -->
      <div class="buttons">
        <div ng-repeat='category in categories'>
          <button ng-click='events.categoryId=category.id'>{{category.category_type}}</button>
        </div>
      </div>

  <div class="col span-12-d debug">
      <h4>I want to volunteer for: .....</h4>

      <div class="buttons">
        <ul>
          <li ng-repeat="type in cat.categories_arr"><button ng-click="findEventsByCategoryId" class="cat-buttons">{{type.category_type}}</button></li>
        </ul>
      </div>
  </div>
</div>

<!-- <h1> I am interested in....</h1> -->
<input type="text" class="form-control" ng-model="events.searchInput" />
<!-- <p>{{ events.searchInput}}</p> -->
<h2>Upcoming Events: </h2>

<div class="events-container">

  <div class="row debug" ng-repeat="event in events | filter:events.searchInput | filter: {category_id: events.categoryId}" >
   <div class="col span-3-d debug">LOGO</div>
   <div class="col span-6-d debug">{{event.name}}</div>
  <div class="col span-3-d debug"><button>I'm in!</button</div>

</div>
