<div>
  <h2 class="volsignup">Sign Up to be a Volunteer</h2>
  <!-- <div ng-show="error">{{vol.error}}</div> -->
  <form name="form" ng-submit="signUp()">
    <div ng-class="{ 'has-error': form.first_name.$dirty && form.first_name.$error.required }">
      <div class="form-group">
        <label class="sr-only" for="first_name">First Name</label>
          <input type="text" name="first_name" class="form-control" placeholder="First Name" ng-model="first_name" required />
          <span ng-show="form.first_name.$dirty && form.first_name.$error.required" class="help-block">First name is required.</span>
      </div>
    </div>

    <div ng-class="{ 'has-error': form.last_name.$dirty && form.last_name.$error.required }">
      <div class="form-group">
          <label class="sr-only" for="last_name">Last Name</label>
          <input type="text" name="last_name" class="form-control" placeholder="Last Name" ng-model="last_name" required />
          <ng-show="form.last_name.$dirty && form.last_name.$error.required" class="help-block"></span>
      </div>
    </div>

    <div ng-class="{ 'has-error': email.$dirty && email.$error.required }">
      <div class="form-group">
        <label class="sr-only" for="email">Email</label>
        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="email" required />
        <span ng-show="email.$dirty && email.$error.required" class="help-block">Email is required.</span>
      </div>
    </div>

    <div ng-class="{ 'has-error': interest.$dirty && interest.$error.required }">
     <div class="form-group">
        <label class="sr-only" for="interest">Interest</label>
        <input type="text" name="interest" class="form-control" placeholder="Interest" ng-model="interest" required />
        <span ng-show="interest.$dirty && interest.$error.required" class="help-block">Interest is required.</span>
      </div>
    </div>

    <div ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <div class="form-group">
        <label class="sr-only" for="password">Password</label>
        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="password" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>
      </div>
    </div>


    <div class="volsingupbutton" >
      <button type="submit" class="btn btn-default">Sign Up</button>
      <p><a href="#/main/new" id="linkssss">Already a member? Sign in</a></p>
    </div>

  </form>
</div>
