<h2>Volunteer Profile</h2>

<div class="row debug">
  <div class="col span-3-d debug">
    <img src="{{vol_first.photo_url}}">
  </div>
  <div class="col span-9-d debug">
        <p class="tx-al-l"><span class="vol-bio-header">Name:  </span>{{vol_first.first_name}} {{vol_first.last_name}} </p>

         <p class="tx-al-l"><span class="vol-bio-header">Interest:  </span>{{vol_first.interest}} </p>

        <p class="tx-al-l"><span class="vol-bio-header">Email:  </span>{{vol_first.email}}</p>

  </div>
</div>
<h3>Upcoming Events That You have Registered For:</h2>
  <div ng-controller="events" ng-model="">
 <div class="col span-3-d debug">
    <div class="logo-container">
      <img src="https://pbs.twimg.com/profile_images/3343036919/d8ba4f06f2a81fd1e9df377889855fe1_400x400.jpeg">
    </div>
</div>
<div class="col span-6-d debug">
    <h3>Coastal Cleanup Day Beach Cleanup</h3>
    <p>Organization: Aquarium of the Bay <!-- {{first_event.org_name}} --></p>
    <p>Date: Saturday, September 19, 2015<!-- {{first_event.date}} --></p>
    <p>Time: 9:00 AM-12:00 AM<!-- {{first_event.time}} --></p>
    <p>Location: San Francisco Bay <!-- {{first_event.place}} --></p>
  </div>
</div>





  <div class="col span-4-d debug">
    Event 2
  </div>
   <div class="col span-4-d debug">
    Event 3
  </div>
</div>


