<h2>Volunteer Profile</h2>

<div class="row debug">
  <div class="col span-3-d debug">
    <img src="{{vol_first.photo_url}}">
  </div>
  <div class="col span-9-d debug">
        <p class="tx-al-l"><span class="org-bio-header">Name: </span>{{vol_first.first_name}} {{vol_first.last_name}} </p>

         <p class="tx-al-l"><span class="org-bio-header">Interest: </span>{{vol_first.interest}}  </p>

        <p class="tx-al-l"><span class="org-bio-header">Email: </span>{{vol_first.email}}</p>

        <h4 class="tx-al-l vol-bio-header">Email: {{vol_first.email}}</h4>
  </div>
</div>

<h3>Upcoming Events:</h2>
<div class="row debug">
  <ng-repeat="event in events | filter: {volunteer_id: 1}" >

  <div class="col span-4-d debug">
    <img src="{{event.image}}">
    <h3>{{event.name}}</h3>
    <p>{{event.org_name}}</p>
    <p>Date: {{event.date}}</p>
    <p>Time: {{event.time}}</p>
    <p>Location: {{event.location}}</p>

  </div>
  <div class="col span-4-d debug">
    Event 2
  </div>
   <div class="col span-4-d debug">
    Event 3
  </div>
</div>

<div class="row upcoming debug" ng-repeat="event in events | filter: {volunteer_id: events.volunteerId}" >
  <div class="col span-3-d debug">
    <div class="logo-container">

        <img src="{{event.image}}">
    </div>
  </div>
  <div class="col span-6-d debug">

    <h3>{{event.name}}</h3>
    <p>{{event.org_name}}</p>
    <p>Date: {{event.date}}</p>
    <p>Time: {{event.time}}</p>
    <p>Location: {{event.location}}</p>
  </div>
  <div class="col span-3-d debug">








