/*header*/



/*category buttons*/
.buttons {
  display: inline;
  margin-right: 10px;
}
.buttons-container {
 margin-top: 20px;
 margin-bottom: 20px;
}

.cat-buttons {
  width: 150px;
  height: 150px;
  line-height: 13px;
  border-radius: 50%;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  vertical-align: middle;
  background-color: #bdc3c7;
  color: black;
  border-style: none;
}

.cat-buttons:hover {
  color: #C4E237;
  font-weight: bolder;
}

/*event search bar*/
.event-search{
  margin-top: 1em;
  background-color: #EC725A;
}

.search {
  width: 70%;
  margin: auto;
  text-align: center;
}

.specific-event-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*is there anywhere besides search page?*/
.control {
  margin-top: 1em;
  border: 1px solid blue;
}

/*results*/
.events-results {
  margin-top: 1em;
}

.upcoming {
  border: 2px solid #cccccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

 .logo-container {
  width: 100px;
  height: 100px;
  margin: 20px auto;
 }

/*buttons to RSVP*/
 .im-in {
  height: 50px;
  width: 50px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px 2px green;
  background: #C4E237;
}

.im-in:hover {
  height: 60px;
  width: 60px;
}
