/*header*/

.container-search {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.sfbackground {
  width: 100%;
  height: 650px;
  z-index: -1;
  position: absolute;

}
.home-title {
  color: white;
  text-align: center;
  position: relative;
  font-size: 150px;
/*  z-index: 1;*/
}

/*category buttons*/
.buttons {
  display: inline;
  margin-right: 10px;
}
.buttons-container {
 margin-top: 20px;
 margin-bottom: 20px;
}

.cat-buttons {
  width: 150px;
  height: 150px;
  line-height: 13px;
  border-radius: 50%;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  font-size: 19px;
  vertical-align: middle;
  background-color: #4B77BE;
  color: white;
  border-style: none;
}

.cat-buttons:hover {
  color: white;
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 20px;

}

/*event search bar*/
.event-search{
  height: 100px;
}

.search {
  width: 70%;
  margin: 65px auto;
  font-size: 30px;
  text-align: center;
  height: 50px;

}

.specific-event-box {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*is there anywhere besides search page?*/
.control {
  color: black;
  font-size: 80px;
  color: black;
  text-align: center;
}

#opportunity-align {
  text-align: center;
  font-size: 28px;
}

#title-spacing{
  margin-top: 5em;
}
/*results*/
.events-results {
  margin-top: 1em;
}

/*.place-background {
  background-color: #4B77BE;
  opacity: .4;
  width: 100%;
}*/

.grey-bground {
  background-color: #cccccc;
  /*opacity: .3;*/
}

.event-info-h {
  font-weight: bold;
  text-align: left;
  font-size: 36px;
}

.text-l {
  text-align: left;
  margin-left: 30px;
  font-size: 25px;
}
.event-name {
  text-align: center;
  font-weight: 900;
  font-size: 45px;

}
/*super cool font to maybe use*/
/*.event-font {
  font-family: 'Raleway Dots', cursive;
}*/

#num-size {
  font-size: 30px;
  color: #EC725A;
}

.upcoming {
  border: 3px solid #4B77BE;
  margin: 18px auto;
  width: 80%;
  border-radius: 15px;
}

 .logo-container {
  width: 60%;
  height: 60%;
  margin: 20px auto;
 }

/*buttons to RSVP*/
 .im-in {
  height: 65px;
  width: 123px;
  margin: 30px;
  color: white;
  font-size: 35px;
  border-style: none;
  box-shadow: 5px 5px #bdc3c7;
  background: #4B77BE;
  margin: 65px auto;
  border-radius: 10px;
}

.im-in:hover {
  height: 65px;
  width: 123px;
  font-size: 35px;
}
