
/*Home (landing) page*/

.home-container {
  text-align: center;
  border-radius: 15px;
  margin: 80px auto;
  background: #9BC12A;
  border: 10px outset #9BC12A;
  height: 350px;
  width: 350px;
}

.words {
  padding-top: 30px;
}

.purpose {
  color: #EC725A;
  margin-bottom: 200px;
}

.btn {
  font-size: 21px;
  margin: 20px auto 20px auto;
  background-color: #C4E237;
  border-style: none;
}

.org-image {
  height: 100px;
  width: 150px;
  margin-left: 120px;
  padding-bottom: 8px;
}
