
/*Home (landing) page*/

.home-container {
  text-align: center;
  border-radius: 15px;
  margin: 40px auto;
  border: 8px solid #EE9C69;
  height: 350px;
  width: 80%;
}

.words {
  padding-top: 30px;
  font-size: 45px;
}

.btn {
  font-size: 21px;
  margin: 20px auto 20px auto;
  background-color: #EE9C69;
  border-style: none;
}
