.tx-al-l {
  text-align: left;
  margin-left: 20px;
}

.org-bio-header {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}


 /*ADD NEW EVENT ####################*/
 .event-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
 }

 .new-eventtt {
  font-size: 18px;
 }

 .plus-format {
  margin-top: 10px;
  margin-left: 40px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  opacity: 0.6;
  text-align: center;
  color: black;
  font-size: 30px;
 }

 .event-update-button {
  font-size: 15px;
  margin: 20px auto 20px auto;
  border-style: none;
 }
