.tx-al-l {
  text-align: left;
  margin-left: 20px;
}

.org-bio-header {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}


 /*ADD NEW EVENT ####################*/
 .event-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 2px solid black;
 }

 .plus-format {
  margin: auto;
  margin-top: 20px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  opacity: 0.6;
  text-align: center;
 }
