<div>
  <h2>New Organization Sign Up</h2>
  <!-- <div ng-show="error">{{orgs.error}}</div> -->
  <form name="form" ng-submit="signUp()">
    <div ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
      <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        <input type="text" name="name" placeholder="Organization Name" ng-model="orgs.name" class="form-control" required />
        <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block"></span>
      </div>
    </div>

    <div ng-class="{ 'has-error': mission_statement.$dirty && mission_statement.$error.required }">
      <div class="form-group">
        <label for="mission_statement" class="sr-only">Mission Statement</label>
        <textarea name="mission_statement" placeholder="Mission Statement..." ng-model="mission_statement" class="form-control" required /></textarea>
        <span ng-show="mission_statement.$dirty && mission_statement.$error.required" class="help-block"></span>
      </div>
    </div>

    <div ng-class="{ 'has-error': phone_number.$dirty && phone_number.$error.required }">
      <div class="form-group">
        <label for="phone_number" class="sr-only">Phone Number</label>
        <input type="tel" name="phone_number" placeholder="Phone Number" ng-model="phone_number" class="form-control" required />
        <span ng-show="phone_number.$dirty && phone_number.$error.required" class="help-block"></span>
      </div>
    </div>

   <!--  <div ng-class="{ 'has-error': logo_image.$dirty && logo_image.$error.required }">
      <div class="form-group">
        <label for="logo_image">Logo:  </label>
        <input type="file" name="logo_image" ng-model="logo_image" class="form-control" required />
        <input type="submit" value="Upload">
        <span ng-show="logo_image.$dirty && logo_image.$error.required" class="help-block"></span>
      </div> -->
    <!-- </div> -->

     <div ng-class="{ 'has-error': website_url.$dirty && website_url.$error.required }">
      <div class="form-group">
        <label for="website_url" class="sr-only">Website</label>
        <input type="text" name="website_url" placeholder="www.MyOrganization.com" ng-model="website_url" class="form-control" required />
            <!--  input type = url? -->
        <span ng-show="website_url.$dirty && website_url.$error.required" class="help-block"></span>
      </div>
    </div>

    <div ng-class="{ 'has-error': email.$dirty && email.$error.required }">
      <div class="form-group">
        <label for="email" class="sr-only">Email</label>
        <input type="email" name="email" placeholder="Email" ng-model="email" class="form-control" required />
        <span ng-show="email.$dirty && email.$error.required" class="help-block"></span>
      </div>
    </div>


    <div ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <div class="form-group">
        <label for="password" class="sr-only">Password</label>
        <input type="password" name="password" placeholder="Password" ng-model="password" class="form-control" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block"></span>
      </div>
    </div>


    <div>
      <button type="submit" class="btn btn-default">Sign Up</button>
      <p><a href="#/main/new">Already a member? Sign in</a><p>
    </div>


  </form>
</div>
