<h2>Organization Profile</h2>

<!-- <div ng-repeat="org in organizations">
  <p>{{ org.name }}</p>
</div> -->
<div class="row debug">
  <div class="col span-12-d debug">
    <div class="org-profile">
        <img ng-src="images/aquofbay.jpeg"/>
        <p>{{ first_org.name }} </p>
        <p>Mission Statement: {{ first_org.mission_statement }} </p>
        <p>Website: {{ first_org.website_url }} </p>
        <p>Contact Number: {{ first_org.phone_number }} </p>
        <p>Email: {{ first_org.email }} </p>
      </div>
  </div>
</div>

<h3>Upcoming Events:</h2>
<div class="row debug">
  <div class="col span-4-d debug">
    <div class="event-container">
      <p>Add a New Event</p>
      <button><span class="glyphicon glyphicon-plus" ng-href="#/orgs/event/new"></span></button>
    </div>
  </div>
  <div class="col span-4-d debug">
    <div class="event-container">
       Event 2
    </div>
    <p><span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span>
    <span class="glyphicon glyphicon-star"></span></p>
  </div>

    <div class="col span-4-d debug">
      Event 3
    </div>
  </div>
</div>

<h3>Past Events:</h2>
<div class="row debug">
  <div class="col span-4-d debug">
    Event 1
  </div>
  <div class="col span-4-d debug">
    Event 2
  </div>
   <div class="col span-4-d debug">
    Event 3
  </div>
</div>