<div class="container">
  <h2>Organization Profile</h2>
  <div class="row debug">
    <div class="col span-3-d debug">
      <div class="org-profile">
          <img ng-src="{{first_org.logo_image}}"/>
        </div>
      </div>
      <div class="col span-9-d debug">
        <p class="tx-al-l"><span class="org-bio-header">Organization: </span>{{ first_org.name }} </p>
        <p class="tx-al-l"><span class="org-bio-header">Mission Statement:</span> {{ first_org.mission_statement }}</p>
        <p class="tx-al-l"><span class="org-bio-header">Website:</span><a ng-href="{{first_org.website.url}}"> {{ first_org.website_url }}</a> </p>
        <p class="tx-al-l"><span class="org-bio-header">Contact Number:</span> {{ first_org.phone_number }} </p>
        <p class="tx-al-l"><span class="org-bio-header">Email: </span> {{ first_org.email }} </p>
      </div>
  </div>

  <h3>Upcoming Events:</h2>
    <div class="row debug">
      <div class="col span-4-d debug">
        <div class="event-container new-event-box">
          <p class="new-eventtt">new event</p>
          <a ng-href="#/orgs/event/new"><button class="plus-format glyphicon glyphicon-plus"></button></a>
      </div>
    </div>
    <div class="col span-4-d debug">
      <div class="event-container">
         <img ng-src="{{first_org.logo_image}}">
      </div>
      <button ng-click="updateEvent"><span class="event-update-button">Update</button></span>
      <button ng-click="deleteEvent"><span class="event-update-button">Delete</button></span>
    </div>


      <div class="col span-4-d debug">
      <div class="event-container">
        Event 3
      </div>
      <button ng-click="updateEvent">Update</button>
      <button ng-click="deleteEvent">Delete</button>
      </div>
    </div>
  </div>


  </div>
</div>

