
<!-- <div class="row debug">
  <div class="col span-12-d debug purpose"> -->
    <h1 class="purpose">....connecting charities & volunteers in San Francisco</h1>
  <!--   <img src="images/bg-image.png" class="bg-image"/> -->
  <!-- </div>
</div> -->

<div class="row debug">
  <div class="col gispan-6-d debug">
    <div class="home-container">
      <h1 class="words">I am a<br>Volunteer!</h1>
      <p>
        <a class="btn btn-lg btn-success" ng-href="#/main/new">Login</span></a>
        <a class="btn btn-lg btn-success" ng-href="#/volunteers/new">Sign Up</span></a>
      </p>
    </div>
  </div>

  <div class="col span-6-d debug">
    <div class="home-container">
      <h1 class="words">I am an<br>Organization!</h1>
      <p>
        <a class="btn btn-lg btn-success" ng-href="#/main/new">Login</a>
        <a class="btn btn-lg btn-success" ng-href="#/orgs/new">Sign Up</a></p>
    </div>
  </div>
</div>


<!-- "https://upload.wikimedia.org/wikipedia/commons/c/cc/Painted_Ladies.jpg" -->
